<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Highscores</title>
</head>
<body>

    {{{body}}}
    
</body>
{{!-- <script>document.getElementById('letters_btn').addEventListener('click', async (e)=>{
   try{
       let response=await fetch('/highscores/letters');
       let data= await response.json();
       document.getElementById('gradient-list')= "";
   }catch(e){
       console.log(e);
   } })
    
    </script> --}}
</html>