@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

.rowOfRadioBtns {
  background-color: pink;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1em;
  font-family: "Dancing Script", cursive;
}
