#gameBox {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#firstInput {
  margin-left: 6em;
}
#firstInput div {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 1em;
  width: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
}
