/* #gameBox {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 1.5em;
}
#first__Input {
  margin-left: 19.5em;
  padding: 1rem;
}
#first__input li {
  border: 2px solid gray;
  border-radius: 3px;
  background-color: rgb(189, 244, 244);
  box-shadow: 5px 10px #e3e0e0;
  color: black;
  margin: 0.2em;
  font-size: 2em;
  font-weight: 700;
  height: 0.2em;
  width: 0.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  padding: 1em;
} */
