#gameBoxTwo {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#secondInput {
  margin-left: 19.5em;
  padding: 1rem;
}

#secondInput li {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 0.2em;
  font-size: 2.5rem;
  font-weight: 700;
  height: 0.2em;
  width: 0.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  padding: 1rem;
}
