@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.rowOfRadioBtns {
  font-family: 'Dancing Script', cursive;
  margin-left: 21em;
  padding: 1em;
}

#gameBox1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 1.5em;
  margin-left: 28em;
  margin-top: 2em;
}
