@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.rowOfRadioBtns {
  font-family: 'Dancing Script', cursive;
  margin-left: 15%;
  padding: 1em;
  text-align: center;
}
