.header {
  font-size: 45px;
  margin-left: 12em;
}

#gameBoxTwo {
  align-items: center;
  display: flex;
  flex-direction: row;
}
div#second__Input {
  margin-left: 27em;
  padding: 1rem;
}

#second__Input li {
  align-items: center;
  border: 2px solid gray;
  background-color: rgb(254, 255, 255);
  border-radius: 3px;
  box-shadow: 5px 10px #e3e0e0;
  color: white;
  display: flex;
  flex-direction: row;
  float: left;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  font-weight: bold;
  height: 0.2em;
  margin: 0.2em;
  padding: 1em;
  width: 0.2em;
}

a {
  margin-left: 5em;
}
#game__rules {
  margin-left: 23em;
}
#footer {
  background-color: rgb(189, 244, 244);
  font-size: 18px;
  margin-top: 12em;
  height: 1.3em;
  width: 50%;
  text-align: center;
}
